@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(-1turn)
  }
}

.inner {
  position: relative;
  z-index: 1;
  width: 100%;
}

.panel {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  padding: 2px;

}

.panel:before {
  content: "";
  display: block;
  background: linear-gradient(-90deg, #8ea7ff, hsla(0, 0%, 78%, .81) 31%, hsla(0, 0%, 100%, 0));
  height: 600px;
  width: 150px;
  transform: translate(0);
  position: absolute;
  animation: rotate 5s linear infinite forwards;
  z-index: 0;
  top: 50%;
  transform-origin: top center;
}

.shadow {
  box-shadow: 0 0 80px 0 #e0e4ff;
}

.arrow {
  z-index: 1;
  display: block;
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  transform: translatex(-50%) translatey(100%) rotate(180deg);
}

.arrow:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 12px;
  background: #fff;
  clip-path: path('M 0 12 A 6 6 0 0 0 4.243 10.243 L 9.879 4.607 A 3 3 0 0 1 14.121 4.607 L 19.757 10.243 A 6 6 0 0 0 24 12 Z');
}

.arrow:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 16px;
  bottom: 0;
  left: 4px;
  margin: auto;
  border-radius: 0 0 2px 0;
  transform: translatey(50%) rotate(-135deg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  z-index: 0;
  background: transparent;
}