@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(-1turn)
  }
}

.inner {
  margin: 2px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.panel {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
}

.panel:before {
  content: "";
  display: block;
  background: linear-gradient(-90deg, #8ea7ff, hsla(0, 0%, 78%, .81) 31%, hsla(0, 0%, 100%, 0));
  height: 600px;
  width: 150px;
  transform: translate(0);
  position: absolute;
  animation: rotate 5s linear infinite forwards;
  z-index: 0;
  top: 50%;
  transform-origin: top center;
}

.shadow {
  box-shadow: 0 0 80px 0 #e0e4ff;
}